<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <title>Drag and Drop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<div class="container text-center" id="dragdrop">
    <div class="row">
        <div class="row">
            <p>Some RNA gets transformed into protein, this is usually done by something called a ribosome. This
            ribosome takes three nucleotides from the RNA, this is called a codon. This codon binds an amino acid.
            A protein slowly gets created like a string of beads, where the beads are the amino acids. This string folds into
            a proper functioning protein, but we're getting ahead of ourselves.</p>
            <br>
            <p> For now, we're doing what the ribosome should be doing. We're translating the codons to their respective
            amino acid. We can code a program to do this, but it is good to get a hang on what is happening before we let
            a program run it for us. A codon table will help us. The first ring is the first nucleotide, the second ring represents
            the second nucleotide, and the third ring represents the third nucleotide. To read it, just go from in to out of the circle.</p>
        </div>
    </div>
    <div class="row">
        <div class="col p-2">
            <ul class="options list-group border" id="all">
                <li class="list-group-item"  draggable="true" id="one" data-target="one">Met</li>
                <li class="list-group-item"  draggable="true" id="two" data-target="four">Gly</li>
                <li class="list-group-item"  draggable="true" id="three" data-target="three">Tyr</li>
                <li class="list-group-item"  draggable="true" id="four" data-target="five">Stop</li>
                <li class="list-group-item"  draggable="true" id="five" data-target="two">Ile</li>
            </ul>
        </div>
        <div class="col p-2">
            <div class="d-flex flex-row mb-3 border">
                <div class="p-2">AUG translates to</div>
                <div class="answer p-2 border" data-accept="one"></div>
            </div>
            <div class="d-flex flex-row mb-3 border">
                <div class="p-2">AUC translates to</div>
                <div class="answer p-2 border" data-accept="two"></div>
            </div>
            <div class="d-flex flex-row mb-3 border">
                <div class="p-2">UAU translates to</div>
                <div class="answer p-2 border" data-accept="three"></div>
            </div>
            <div class="d-flex flex-row mb-3 border">
                <div class="p-2">GGG translates to</div>
                <div class="answer p-2 border" data-accept="four"></div>
            </div>
            <div class="d-flex flex-row mb-3 border">
                <div class="p-2">UAG translates to</div>
                <div class="answer p-2 border" data-accept="five"></div>
            </div>
            <button class="btn btn-secondary" id="checkAnswer" type="button">Check answers</button>
            <p id="result"></p>
            <div id="stopButton"></div>
        </div>
        <div class="col p-2">
            <img src="../../images/codon_table.png" class="img-fluid" alt="A codon table">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="/js/drag_and_drop_event.js"></script>
</body>
</html>
